.app {
  background-color: #dffdfb; /* Main background color */
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.radial-circle {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(circle at center, rgba(255, 253, 195, 0.8) 5%, rgba(223, 253, 251, 0.8) 60%);
  border-radius: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}


h3 {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  z-index: 1;
  position: relative;
}

@media (min-width: 768px) {
  .header {
    width: 70%;
    padding: 40px;
  }
}
